/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    /************************ Start Nav ************************/
    .add span:nth-child(2){
        transform: rotate(-45deg) !important;
        position: absolute;
        top: 9px;
        right: 10px;
    }
    .add span:nth-child(3){display: none}
    
    .add span:nth-child(4){
        transform: rotate(45deg);
        margin-top: 0;
    }
    .navbar-toggle .icon-bar + .icon-bar:nth-child(3){
        margin-bottom: 4px
    }
    .navbar-toggle .icon-bar + .icon-bar:last-child {
        margin-top: 0px;
    }
    /************************ End Nav **************************/

    /************************ Start Intro *********************/
    header .intro{
        display: inline-block;
        margin-top: 70%;
        color: #fff;
        font-size: 30px;
    }
    /************************ End Intro ***********************/
    
    /************************ Start about-me ********************/
    .about-me{font-size: 15px;}
    /************************ End about-me **********************/
    
    /************************ Start skills **********************/

    /************************ End skills ************************/
    
    /************************ Start portfolio *******************/
    
    /************************ End portfolio *********************/
    
    /************************ Start contact-me *******************/
    
    /************************ End contact-me *********************/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    /************************ Start Intro *********************/
    
    /************************ End Intro ***********************/
    
    /************************ Start about-me ********************/

    /************************ End about-me **********************/
    
    /************************ Start skills **********************/

    /************************ End skills ************************/
    
    /************************ Start portfolio *******************/
    
    /************************ End portfolio *********************/
    
    /************************ Start contact-me *******************/
    
    /************************ End contact-me *********************/
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    /************************ Start Intro *********************/

    /************************ End Intro ***********************/
    
    /************************ Start about-me ********************/
    .about-me{font-size: 20px;}
    /************************ End about-me **********************/
    
    /************************ Start skills **********************/

    /************************ End skills ************************/
    
    /************************ Start portfolio *******************/
    
    /************************ End portfolio *********************/
    
    /************************ Start contact-me *******************/
    
    /************************ End contact-me *********************/
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
     /************************ Start Intro *********************/
    
    /************************ End Intro ***********************/
    
    /************************ Start about-me ********************/

    /************************ End about-me **********************/
    
    /************************ Start skills **********************/

    /************************ End skills ************************/
    
    /************************ Start portfolio *******************/
    
    /************************ End portfolio *********************/
    
    /************************ Start contact-me *******************/
    
    /************************ End contact-me *********************/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     /************************ Start Intro *********************/
    
    /************************ End Intro ***********************/
    
    /************************ Start about-me ********************/

    /************************ End about-me **********************/
    
    /************************ Start skills **********************/

    /************************ End skills ************************/
    
    /************************ Start portfolio *******************/
    
    /************************ End portfolio *********************/
    
    /************************ Start contact-me *******************/
    
    /************************ End contact-me *********************/
}